<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXJXvGmJafynLR2YQuMbZglAc2otJ3b6s</string>
	<key>GCM_SENDER_ID</key>
	<string>50097395403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.littlelightkids.devotionalapp</string>
	<key>PROJECT_ID</key>
	<string>lls-littlelightkids</string>
	<key>STORAGE_BUCKET</key>
	<string>lls-littlelightkids.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50097395403:ios:735ef7f666434841f8ad4e</string>
</dict>
</plist>